.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 13px;
}

header {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main-list-locations {
  list-style: none;
}

.main-list-locations li {
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
}

.main-list-locations li:hover {
  background-color: grey;
}

.main-search {
  display: flex;
  width: 100%;
}

.main-search input {
  width: inherit;
  border: none;
  border-radius: 4px;
  padding: 3px;
}

.main-search input:focus,
.main-search input:focus-visible {
  outline: none;
}

.main-list {
  width: 100%;
}

.main-no-location {
  color: gray;
  font-size: small;
  display: flex;
  width: 100%;
}

.main-weather {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 34px;
}

.main-title {
  margin-bottom: 10px;
}

.main-weatherTitle {
  width: 100%;
}

.main-weather-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-weather-info h3 {
  font-size: 4rem;
  font-weight: 400;
}

.main-weather-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-bar {
  display: flex;
  width: 100%;
  border: 2px solid rgb(145, 145, 145);
  border-radius: 15px;
  justify-content: space-between;
}

.main-bar option {
  text-decoration: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: center;
  border: 1px solid grey;
}

.main-bar option:first-child,
.main-bar option:last-child {
  border: none;
}

.main-bar option:first-child {
  border-radius: 15px 0 0 15px;
}

.main-bar option:last-child {
  border-radius: 0 15px 15px 0;
}

.main-bar option:hover {
  background-color: grey;
}